.tableHolder {
    display: flex;
    justify-content: center;
    gap: 0px;

}

table {
    text-align: center;

    border-spacing: 0;
    width: 500px;
    gap: 1px;
}

thead tr {
    background-color: #d2d2d2;

}

tbody tr:nth-child(even) {
    background-color: #f2f1f1;
}


td {
    padding: 8px 16px;
}

.backdropModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(15, 12, 12, 0.121);



}

.modal {
    background-color: #ffb6b6;
    height: 260px;
    width: 260px;
    padding: 4px;
    z-index: 2;
    text-align: center;


}

.col {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2px;

}